@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa; }
  body .main {
    margin: 40px 0; }
    body .main .container {
      max-width: 250px;
      margin: 0 auto;
      width: 90%; }
      body .main .container .header {
        text-align: center; }
        body .main .container .header .header-title {
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 18px; }
          body .main .container .header .header-title .highlighted {
            font-weight: 600; }
        body .main .container .header .header-description {
          color: #a3a5ae;
          font-size: 12px;
          margin: 18px 0 36px; }
      body .main .container .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body .main .container .cards-container .middle-section {
          display: flex;
          flex-direction: column; }
        body .main .container .cards-container .card {
          background-color: white;
          max-width: 250px;
          width: 100%;
          border-radius: 6px;
          margin-bottom: 16px;
          padding: 18px;
          box-shadow: 0 20px 30px -10px #a3a5ae; }
          body .main .container .cards-container .card .card-title {
            font-weight: 600; }
          body .main .container .cards-container .card .card-description {
            color: #a3a5ae;
            font-size: 12px;
            margin: 6px 0 24px; }
          body .main .container .cards-container .card .card-image {
            float: right; }
          body .main .container .cards-container .card.supervisor {
            border-top: 6px solid #45d3d3; }
          body .main .container .cards-container .card.team-builder {
            border-top: 6px solid #ea5353; }
          body .main .container .cards-container .card.karma {
            border-top: 6px solid #fcaf4a; }
          body .main .container .cards-container .card.calculator {
            border-top: 6px solid #549ef2;
            margin-bottom: 0; }

@media (min-width: 425px) {
  body .main .container {
    max-width: unset; }
    body .main .container .header {
      text-align: center;
      max-width: 425px;
      margin: 0 auto; }
    body .main .container .cards-container .middle-section {
      flex-direction: row; }
      body .main .container .cards-container .middle-section .team-builder {
        margin-right: 16px; } }

@media (min-width: 1024px) {
  body .main .container .cards-container {
    flex-direction: row; }
    body .main .container .cards-container .middle-section {
      flex-direction: column; }
      body .main .container .cards-container .middle-section .team-builder {
        margin-right: 0; }
    body .main .container .cards-container .card {
      max-width: 275px; }
      body .main .container .cards-container .card.supervisor {
        margin-right: 16px; }
      body .main .container .cards-container .card.karma {
        margin-bottom: 0; }
      body .main .container .cards-container .card.calculator {
        margin-left: 16px; } }
